# ==============================
# Python
# ==============================

__pycache__/
*.py[cod]
*.pyo


# ==============================
# Virtual Environment
# ==============================

venv/
.venv/
env/


# ==============================
# SQLite Database
# ==============================

*.db
*.sqlite
*.sqlite3


# ==============================
# YOLO Training Outputs
# ==============================

runs/


# ==============================
# YOLO Model Files
# ==============================

*.pt
*.onnx


# ==============================
# Datasets
# ==============================

datasets/
garbage/
pathole1/
road/
roadway_flooding/


# ==============================
# Processed / Generated Dataset
# ==============================


problem_data_v3/
processed_data/


# ==============================
# Backup Files
# ==============================

*_backup.db
*.bak


# ==============================
# Temporary Files
# ==============================

*.log
*.tmp


# ==============================
# Operating System
# ==============================

.DS_Store
Thumbs.db


# ==============================
# IDE
# ==============================

.vscode/